<footer class="text-white body-font bg-stone-500 bg-opacity-75 w-full mt-auto">
  <div class="container px-5 py-8 mx-auto flex flex-col">
    <div class="flex flex-col md:flex-row items-center justify-center space-y-4 md:space-y-0 md:space-x-44">
      <%= link_to "お問い合わせ", "", target: "_blank", rel: "noopener noreferrer", class: "text-white font-mplus hover:underline" %>
      <%= link_to "利用規約", terms_path, rel: "noopener noreferrer", class: "text-white font-mplus hover:underline" %>
      <%= link_to "プライバシーポリシー", privacy_path, rel: "noopener noreferrer", class: "text-white font-mplus hover:underline" %>
    </div>
      <p class="text-sm text-white font-mplus self-center md:self-end">©OnsenCamp 2025. Shohei Takenochi</p>
  </div>
</footer>